.App {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  display: table-cell;
  overflow: visible;
}

.AdGutter{
  background-color: green;
  display: table-cell;
  width: 160px;
}

body{
  min-width: calc(100vw - 20px);
  height: 100vh;
  display: table;
}

.FillMe{
  padding-top: 5px;
  height: 2em;
  width: 250px;
}

#root{
  height: 100%;
  width: calc(100% - 300px);
  display: table-row;
}

.Tooltip {
  position: relative;
  display: inline-block;
}

.Tooltip .Tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 35%;
  margin-left: -35%;
  min-width: 200px;
}

.Tooltip .Tooltiptext1 {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  min-width: 200px;
}

.Tooltip:hover .Tooltiptext {
  visibility: visible;
}

.Tooltip:hover .Tooltiptext1 {
  visibility: visible;
}


.ObjectDisplay{ /* A div object meant to hold a complete object given from the backend, IE a civilization or person */
width: 100%;
padding-bottom: 20px;
}

.ObjectMajor{ /*A major heading piece or section of an object*/
border: solid;
}

.ObjectMinor{ /*A minor piece or sub-object of the main object */
border: solid;
}

.ObjKey{ /*A key of the object, IE Economic Focus or Vice*/
border: solid;
width:33%;
}

.ObjVal{ /*A value of the object, IE tourism or Gluttony*/
border: solid;
width: 33%;
}